<div class="page-header">
  <%= link_to new_task_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Task
  <% end %>  
</div>


<div class="row">
    <div class="col-md-4">
        <h1 class="text-center">ToDo</h1>
        <div class="todo-panel">
            <%= render @to_do %>
        </div>
        
    </div>

    <div class="col-md-4">
        <h1 class="text-center">Doing</h1>
        <div class="doing-panel">
            <%= render @doing %>
        </div>        
    </div>

    <div class="col-md-4 done-panel">
        <h1 class="text-center">Done</h1>
        <div class="done-panel">
            <%= render @done %>
        </div>
        
    </div>
</div>