<div class="jumbotron">

    <h1><i class="fa fa-circle-o-notch"></i>rDoo</h1>

    <%= render 'text' %>

    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>

</div>


